<!DOCTYPE html>
<html>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>

  <title>Barra de Navegación</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    .navbar {
      background-color: #333;
      color: #fff;
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }

    .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    
    }

    .navbar li {
     margin-left: 300px;
     margin-top: 10px;
     padding: 5px;
    }

    .navbar li a {
      color: #fff;
      text-decoration: none;
      padding: 5px;
    }

    .navbar li a:hover {
      background-color: #555;
    }
    
  </style>

</
</head>
<body>
  
 
<div class="navbar">
    
   
<ul>
      
      

     
<li><a href="">Inicio</a></li>
      
      
<li><a href="#">Acerca</a></li>
      
      
<li><a href="#">Nuestros Servicios</a></li>
      
     
<li><a href="#">Nuestro Catalago</a></li>
    </ul>

    <div class="buttons">
      
     
        <button>
            <a href="loguin.ejs">iniciar sesion</a>
        </button>
        
        </div>
  
 
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



</body>
</html>